<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Family - Главная</title>
    @Styles.Render("~/Content/footer_css")
</head>
<body>
  
        @RenderBody()
        <footer>
            <div class="communications">
                <p>Быстрая связь</p>

                    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "results" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="text" name="FirstName" placeholder="Имя" class="min_input" required="true">
                        <input type="email" name="Email" placeholder="Электронная почта" class="min_input" required="true">

                        <textarea name="Adress2" id="" cols="30" rows="10" class="message" placeholder="Сообщение" required="true"></textarea>
                        <input type="submit" value="Отправить" class="comm_button">
                        <span id="results"></span>

                    }
            </div>
            <div id="contacts">
                <p class="cont_name">Контакты</p>
                <div>
                    <img src="/Content/images/phone.png" alt="phone">
                    <p>+38 (066) 355-84-12</p>
                </div>
                <div>
                    <img src="/Content/images/vk2.png" alt="vk">
                    <p><a href="https://vk.com/bigfamilyzp">https://vk.com/bigfamilyzp</a></p>
                </div>
                <div>
                    <img src="/Content/images/email.png" alt="email">
                    <p>bigfamilyzp@gmail.com</p>
                </div>

            </div>

            <div class="footer_menu">
                <p class="consultation">Консультация</p>
                <ul>
                    <li>
                        @Html.ActionLink("Главная", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("О нас", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Услуги", "Services", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Новости", "News", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Партнеры", "Partners", "Home")
                    </li>
                    <li class="click">
                        <a href="#contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </footer>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
