@{
    ViewBag.Title = "О Нас BigFamily - Сделай свое заведение лучше!";
    ViewBag.Meta = "Узнайте больше О Нас. BigFamily предоставляет широкий спектр услуг, начиная от ресторанного консалтинга, заканчивая ребрендингом заведения. Наша цель объеденить все заведения Запорожья в одну большую Семью для укрепления бизнеса";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/about_css")
<header>

    <img src="/Content/images/mobile_menu.png" alt="Mobile Menu" class="toggle-nav" />

    <nav class="navigation">
        <ul class="menu active">
            <li>
                @Html.ActionLink("Главная", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("О нас", "About", "Home")
            </li>
            <li>
                @Html.ActionLink("Услуги", "Services", "Home")
            </li>
            <li>
                @Html.ActionLink("Новости", "News", "Home")
            </li>
            <li>
                @Html.ActionLink("Партнеры", "Partners", "Home")
            </li>
            <li class="click">
                <a href="#contacts">Контакты</a>
            </li>
        </ul>
    </nav>

    <div class="socials">
        <p>+38 (066) 355-84-12</p>
        <img src="/Content/images/vk.png" alt="vk" class="vk_button">
    </div>

    <div class="who_we_are">
        <h2><span>Кем</span> мы являемся?</h2>
        <p>
            Семья — основная ячейка любого общества и любой цивилизации.
            <br />
            Рабиндранат Тагор
        </p>
    </div>

</header>


<section class="about_middle">

    <h2>О НАС</h2>
    <div class="about_text">
        <p>
            Семья предоставляющая широкий спектр услуг и возможностей, начиная от ресторанного консалтинга, заканчивая ребрендингом заведения. Мы не только улучшим Ваш бизнес, но и откроем для Вас и вашего персонала двери в "Big Family". 
        </p>
        <p>
            Если Вы задумали что-то менять в своем заведении, то Вам не придется долго искать тех людей, которые смогут Вам помочь, достаточно просто обратиться в “Big Family” и мы сделаем свою работу. 
        </p>
        <p>
            В каждом секторе семьи собраны опытные специалисты, которые знают свое дело и делают его на высоком уровне.

            Развивайте свое заведение вместе с “Big Family”. 
        </p>
    </div>

</section>