@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/index_css")

<header>

    <img src="/Content/images/mobile_menu.png" alt="Mobile Menu" class="toggle-nav" />

    <nav class="navigation">
        <ul class="menu active">
            <li>
               @Html.ActionLink("Главная", "Index", "Home")
            </li>
            <li>
               @Html.ActionLink("О нас", "About", "Home")
            </li>
            <li>
               @Html.ActionLink("Услуги", "Services", "Home")
            </li>
            <li>
                @Html.ActionLink("Новости", "News", "Home")
            </li>
            <li>
                @Html.ActionLink("Партнеры", "Partners", "Home")
            </li>
            <li class="click">
                <a href="#contacts">Контакты</a>
            </li>
        </ul>
    </nav>

    <div class="socials">
        <p>+38 (066) 355-84-12</p>
        <img src="/Content/images/vk.png" alt="vk" class="vk_button">
    </div>

    <div class="logotip">
        <img src="/Content/images/logo.png" alt="logo">
    </div>
    <div class="header_text">
        <h1>Сделай свое заведение лучше!</h1>
        <p>Стань членом семьи</p>
        <a href="/Home/Services"><button>Вперед</button></a>
    </div>
</header>

<section class="middle">
    <div class="about">
        <h2>О НАС</h2>
        <p>
            Семья, предоставляющая широкий спектр услуг и возможностей, начиная от ресторанного консалтинга, заканчивая ребрендингом заведения. Мы не только улучшим Ваш бизнес, но и откроем для Вас и вашего персонала двери в "Big Family".
        </p>
        <p>
            <span>Наша цель:</span>
            Объединить все заведения в одну большую семью, которая с каждым днем будет становиться только больше и сильней.
        </p>
        <a href="/Home/About"><button>Узнать больше</button></a>
    </div>
    <div class="competitors">
        <a href="/Home/Partners"><img src="/Content/images/circle.png" alt="circle"></a>
        <p class="competitors_name">Заведений в семье:</p>
        <div class="competitors_number" id="counter" data-num="4"></div>
    </div>
    <div class="benefits">
        <p class="benefit_name">Преимущества “большой семьи” : </p>
        <div>
            <img src="/Content/images/rupor.png" alt="rupor">
            <p>ПОДДЕРЖКА</p>
            <p class="benefit_text">
                Если Вы что-то задумали изменить в своем заведении, Вам не придется долго искать тех, кто
                сможет Вам в этом помочь.
            </p>
        </div>
        <div>
            <img src="/Content/images/lamp.png" alt="lamp">
            <p>СКИДКИ</p>
            <p class="benefit_text">
                После первого заказа – Вы вступаете в семью и получаете 5% скидки на услуги.
                C каждым последующим заказом скидка увеличивается на 1%.
            </p>
        </div>
        <div>

            <img src="/Content/images/graf.png" alt="graf">
            <p>ПРОДВИЖЕНИЕ</p>
            <p class="benefit_text">Ваш бизнес не стоит на месте.</p>
        </div>
    </div>
</section>