@model IEnumerable<Sector>
@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/services_css")
<header>

    <img src="/Content/images/mobile_menu.png" alt="Mobile Menu" class="toggle-nav" />

    <nav class="navigation">
        <ul class="menu active">
            <li>
                @Html.ActionLink("Главная", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("О нас", "About", "Home")
            </li>
            <li>
                @Html.ActionLink("Услуги", "Services", "Home")
            </li>
            <li>
                @Html.ActionLink("Новости", "News", "Home")
            </li>
            <li>
                @Html.ActionLink("Партнеры", "Partners", "Home")
            </li>
            <li class="click">
                <a href="#contacts">Контакты</a>
            </li>
        </ul>
    </nav>

    <div class="socials">

        <p>+38 (066) 355-84-12</p>
        <img src="/Content/images/vk.png" alt="vk" class="vk_button">
    </div>
    <div class="services_description">
        <h1>Предоставляемые услуги</h1>
        <p>
            В каждом секторе "Big Family" собраны опытные специалисты, которые знают свое дело и делают его на высоком уровне.<br />
            После первого заказа заведение вступает в Семью и получает 5% скидки. С каждым последующим заказом скидка возрастает на 1% (максимальная скидка 20%)
        </p>
    </div>
    <div class="services_lamp">
        <div>
            <img src="/Content/images/lamp_yellow_.png" alt="yellow lamp">
            <p>Cектор в разработке</p>
        </div>
        <div>
            <img src="/Content/images/lamp_green_.png" alt="green lamp">
            <p>Cектор работает</p>
        </div>
        <div>
            <img src="/Content/images/lamp_red_.png" alt="red lamp">
            <p>Cектор временно не работает</p>
        </div>
    </div>
</header>
<section class="services_middle">

    @Html.Partial("ServiceList", Model)
    
</section>