@model IEnumerable<BigFamilyWeb.Sector>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Управление секторами</h2>

<p>
    @Html.ActionLink("Создать сектор", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Описание
        </th>
        <th>
            Имя Сектора
        </th>
        
        <th>
            Минимальное описание(название в сетке)
        </th>
        <th>
            Цвет лампочки (green,yellow,red)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.SectorId }) |
            @Html.ActionLink("Детельнее", "Details", new { id = item.SectorId }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.SectorId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MinTitle)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MinKeywords)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.LampColor)
        </td>
        
    </tr>
}

</table>
