@model IEnumerable<BigFamilyWeb.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Управление партнерами</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ссылка на партнера
        </th>
        <th>
            Краткое описание партнера
        </th>
        <th>
            Адресс картинки
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageURL)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.MemberId }) |
            @Html.ActionLink("Детальнее", "Details", new { id=item.MemberId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.MemberId })
        </td>
    </tr>
}

</table>
